/* css reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

[class*=col-], [class*=col_], [class~=col] {
  padding: 0;
}

[class*="grid-"], [class*="grid_"], [class~="grid"] {
	margin: 0;
  /* this takes the margin off all classes of grid or classes containg a grid. the col one above does the same for col. that overides gridlex's defaut styling because my css stylesheet is below the gridlex in my head */
}
/* universal styles */

body {
  text-align: center;
  background-color: #040b0e; /* add this as a fallback in case your image doesn't load */
  background-image: url('images/bg-image.jpg');
  background-size: cover;
  background-position: center;
  font-family: Lato;
  padding: 3%;
  min-height: 100vh
}
p{
  padding: 3%;
  font-size: 1vw;
}
/* class for the portrait image */
.portrait {
  border-radius: 50%;
  width: 40%;
  padding: 1%;
}
/* class for the portfolio preview image */
.preview {
  width:100%;
  padding: 5%;
}

/* typography */
h1 {
  font-family: 'Buda', sans-serif;
  color: #AA8C2C;
  font-size: 6vw;
  padding: 1% 5%;
  font-weight: 400;
}

h2 {
  font-family: 'Buda', sans-serif;
  color: #AA8C2C;
  font-size: 3vw;
  font-weight: 400;
  padding: 1% 5% 5%;
}

h3 {
  font-family: 'Lato', sans-serif;
  color: #AA8C2C;
  font-size: 1.8vw;
  font-weight: 400;
  text-align: center;
  padding: 1% 5%;
}
/* takes the decoration off the h1 link */
h1 a {
  text-decoration: none;
  color: #AA8C2C;
}

/* takes the decoration off the h3 links */
h3 a {
  text-decoration: none;
  color: #AA8C2C;
}

/* makes the link blue on hover */
h1 a:hover {
  color: #040b0e;
  transition:1s;
}

h3 a:hover {
  color: #040b0e;
  transition:1s;
}

/* this is the hover effect for the nav links  */
a.nav-link {
  text-decoration: none;
  color: #aa8c2c;
  /* border-radius: 5px;
  border: 1px solid #aa8c2c; */
  padding: 1rem;
  display: inline-block;
  /* text-align: center; */
  /* background-color: white;
  margin: 5px; */
  position: relative;
  transition:4s
}
a.nav-link:hover{
 color: #040b0e;
 transition:1s;
}

a.nav-link::after{
 content: ' ';
 position:absolute;
 width:0;
 border-bottom: 1px solid rgba(0, 0, 0, 0);
 bottom:0;
 transition:5s;
 left:50%;
}
a.nav-link:hover::after {
 transition:1s;
 width:100%;
 left:0;
 bottom:-0.5rem; /*controls the line*/
 border-bottom: 1px solid rgba(0, 0, 0, 1);
}
nav {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  align-items: center;
}

/* adjusts the margin of the a links on scale */
@media only screen and (max-width: 950px) {
   .nav-link {
      margin: 10px;
   }
}

@media only screen and (max-width: 600px) {
   .nav-link {
      margin-bottom: 15px;
   }
   h2 {
     font-size: 1rem;
   }

   h1 {
     font-size: 1.5rem;
   }

}
/* old button */
/* a:hover {
  border: 1px solid #040b0e;
  color: #040b0e;
} */

.header {
  background-color: white;
  width: 80%;
  padding: 2% 8%;
  margin: auto;
}

/* aligns text in the portfolio descriptions  */
.description {
  text-align: left;
}

/* hr styling the curved end */
hr {
  margin-bottom: 1rem;
  overflow: visible; /* For IE */
  height: 30px;
  width:0; /*this has the line grow from the middle*/
  margin:auto; /*for middle animation*/
  border-style: solid;
  border-color: #aa8c2c;
  border-width: 1px 0 0 0;
  /* border-radius: 20px; this gives the curve at the end of the line*/
}

hr:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #aa8c2c;
  border-width: 0 0 1px 0;
  /* border-radius: 20px; */
}

/* hr transition */
.trans-grow{
    -webkit-transition: width 1s ease-out; /* For Safari 3.1 to 6.0 */
    transition: width 1s  ease-in-out;
    width : 0%;
}

.grow{
    width:100%;
}
